<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <category label="General" name="general">
        <setting id="setting1" type="folder" label="SPORTS Folder" source="auto" option="writeable" />

        <setting id="setting2" type="folder" label="thesportsdb API key" source="auto" option="writeable" hidden="true">60130162</setting>
        
    </category>
    
</settings>